body{
    background-color: lightgray;
}
nav{
    background-color: lightskyblue;
    
    
}

li{
    display: flex;
    color: white;
    
}

ul{
    display: flex;
    
}

input{
    display: flex;
    margin: auto;
    width: 40%;
    
}

img{
    display: flex;

}


button{
    display: flex;
    margin: auto;

}